#customCard{
  background-color: lightgrey;
  margin-bottom: 1%;
  width: 50%;
  height: auto;
  padding: 0%;
  margin-left: 0%;
}


h1
{
  margin-left: 2%;
  padding-top: 2%;
  padding: auto;
}

ul{
  padding-left: 2% !important;
  list-style-type: none;
  padding-inline-start: 1%;
  
}

#cb
{
  padding: 0.5%;
}

